<div class="bg-page mb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 faq">
        <h1
          [ngClass]="isAnimationActive ? 'bottom-to-top text-yellow' : ''"
          class="my-md-5 mt-4 d-inline-block font-weight-bold text-black"
        >
          <span>FAQS</span>
          <div
            *ngIf="isLineActive"
            [ngClass]="isLineActive ? 'left-to-right' : ''"
            class="bottom-line"
          ></div>
        </h1>
      </div>
    </div>
    <div>
      <div class="accordion pb-4" id="accordionExample">
        <div
          *ngFor="let faq of faqList; let index = index"
          class="card bg-transparent"
        >
          <a
            class="inside card-link collapsed text-white"
            data-toggle="collapse"
            href="#collapse{{ index }}"
          >
            <div class="row card-header border-0 pb-0 border-left">
              <div class="col-12">
                <img class="mr-3" src="../assets/dumbell.svg" alt="Dumbell" />
                <span class="question font-weight-bold text-yellow">
                  {{ faq.question }}
                </span>
              </div>
            </div>
          </a>
          <div
            id="collapse{{ index }}"
            class="collapse"
            data-parent="#accordion"
          >
            <div class="card-body text-right">
              <video controls>
                <source src="mov_bbb.mp4" type="video/mp4" />
                <source src="mov_bbb.ogg" type="video/ogg" />
                Your browser does not support HTML video.
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-light pb-5">
        <span>
          <span> For more Query, say hi to us on Whatsapp</span>
          <span class="text-yellow"> @99######## </span>
          <span> our Fit-Bot will help you with the same</span>
        </span>
      </div>
    </div>
  </div>
</div>
