<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators mb-5">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active carousel-icon mx-2"
    ></li>
    <li
      class="carousel-icon mx-2"
      data-target="#carouselExampleIndicators"
      data-slide-to="1"
    ></li>
    <li
      class="carousel-icon mx-2"
      data-target="#carouselExampleIndicators"
      data-slide-to="2"
    ></li>
    <li
      class="carousel-icon mx-2"
      data-target="#carouselExampleIndicators"
      data-slide-to="3"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="bg-1"></div>
    </div>
    <div class="carousel-item">
      <div class="bg-2"></div>
    </div>
    <div class="carousel-item">
      <div class="bg-3"></div>
    </div>
    <div class="carousel-item">
      <div class="bg-4"></div>
    </div>
    <div class="d-md-none start-now m-4 p-4 text-center">
      <h4 class="animate-logo font-weight-bold text-left">
        If you want your new year to be extra-ordinary, Do not join an ordinary
        gym.
      </h4>
      <button
        (click)="scrollToPage('whyfitbox')"
        class="animate-anout btn text-center py-2 px-4 mt-3"
      >
        Join FITBOX
      </button>
    </div>
    <div class="d-none desktop-start-now d-md-block m-4 p-4 text-center">
      <h1
        *ngIf="lineOne"
        [ngClass]="lineOne ? 'left-to-right' : ''"
        class="font-weight-bold text-left"
      >
        If you want your new year to be
      </h1>
      <h1
        *ngIf="lineTwo"
        [ngClass]="lineTwo ? 'left-to-right' : ''"
        class="font-weight-bold text-left"
      >
        extra-ordinary, Do not join an ordinary gym.
      </h1>
      <div class="d-inline-block float-left">
        <h1
          *ngIf="lineThree"
          [ngClass]="lineThree ? 'bottom-to-top' : ''"
          class="text-dark font-weight-bold text-left"
          (click)="scrollToPage('whyfitbox')"
        >
          Join FITBOX
        </h1>
        <div
          *ngIf="lineFour"
          [ngClass]="lineFour ? 'left-to-right' : ''"
          class="bottom-line"
        ></div>
      </div>
    </div>
    <div class="fit-box-logo ml-2">
      <img
        class="animate-logo logo"
        src="../../assets/fitBoxDark.svg"
        alt="fit box logo"
      />
    </div>
    <div class="about d-block d-md-none">
      <h4 (click)="navToggle()" class="animate-anout font-weight-bold">
        About
      </h4>
    </div>
    <div class="text-right mt-3 pt-1 mr-3 pr-1 d-none d-md-block">
      <h2 (click)="navToggle()" class="animate-anout font-weight-bold">
        About
      </h2>
    </div>
    <div>
      <div id="sideBar" class="sidenav">
        <div *ngFor="let route of navList">
          <span
            [ngClass]="{
              'header-animation': !sideNavOpen,
              'right-to-left': sideNavOpen
            }"
            href="javascript:void(0)"
            (click)="navigateToAbout()"
            class="text-stroke"
            >{{ route.navName }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
