<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators mb-5">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active carousel-icon mx-2"
    ></li>
    <li
      class="carousel-icon mx-2"
      data-target="#carouselExampleIndicators"
      data-slide-to="1"
    ></li>
    <li
      class="carousel-icon mx-2"
      data-target="#carouselExampleIndicators"
      data-slide-to="2"
    ></li>
    <li
      class="carousel-icon mx-2"
      data-target="#carouselExampleIndicators"
      data-slide-to="3"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="bg-1"></div>
    </div>
    <div class="carousel-item">
      <div class="bg-2"></div>
    </div>
    <div class="carousel-item">
      <div class="bg-3"></div>
    </div>
    <div class="carousel-item">
      <div class="bg-4"></div>
    </div>
    <div class="start-now m-4 p-4 text-center">
      <h4 class="font-weight-bold text-left">
        If you want your new year to be extra-ordinary, Do not join an ordinary
        gym.
      </h4>
      <button class="btn text-center py-2 px-4 mt-3">Join FITBOX</button>
    </div>
    <div class="about">
      <h4 class="font-weight-bold">About</h4>
    </div>
  </div>
</div>
