.about {
  top: 2%;
  left: 78%;
  right: 0%;
  height: 10vh;
  padding: 0px;
  position: absolute;
  z-index: 10;
  text-align: center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: black;
}

.fit-box-logo {
  top: 0%;
  position: absolute;
  z-index: 10;
}

.logo {
  width: 55%;
}

.bg-1 {
  background-image: url("../../assets/carousel/BannerImage1.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.bg-2 {
  background-image: url("../../assets/carousel/BannerImage2.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.bg-3 {
  background-image: url("../../assets/carousel/BannerImage3.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.bg-4 {
  background-image: url("../../assets/carousel/BannerImage4.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.start-now {
  position: absolute;
  bottom: 200px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #434343;
  opacity: 0.5 !important;
}

.start-now button {
  font-size: 24px;
  color: black !important;
  font-weight: bold;
  background-color: #fbd530;
  box-shadow: 0 0 20px 5px black;
}
