<div class="container-fluid bg-dark-gray">
  <h1 class="font-weight-bold fade-yellow ml-3 pt-4">Pricing</h1>
  <!-- price card -->
  <div class="px-3 mb-5">
    <img
      class="w-100 price-boder price-1 mt-4"
      src="../../assets/carousel1.jpeg"
      alt="fit pay image"
    />
  </div>
  <div class="px-3 mb-5">
    <img
      class="w-100 price-boder price-1 mt-4"
      src="../../assets/carousel1.jpeg"
      alt="fit pay image"
    />
  </div>
  <div class="px-3 pb-5">
    <img
      class="w-100 price-boder price-1 mt-4"
      src="../../assets/carousel1.jpeg"
      alt="fit pay image"
    />
  </div>
</div>
