<div class="snappy y mandatory-scroll-snapping">
  <div>
    <app-carousel></app-carousel>
  </div>
  <!-- Why Fitbox -->
  <div class="bg-light-gray">
    <div class="container page-height">
      <div class="row">
        <div class="col-12 mt-4">
          <h1 class="ml-1 f-48 mb-4 pb-1 font-weight-bold yellow">
            Why FitBox?
          </h1>
          <div class="ml-2 mb-2 pb-1 f-22 font-weight-bold text-light">
            Why FitBox Content text
          </div>
          <div class="ml-2 mb-4 pb-1 f-22 font-weight-bold text-light">
            Why FitBox Content text
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-3">
          <div class="w-100 px-1 text-center">
            <video controls>
              <source src="mov_bbb.mp4" type="video/mp4" />
              <source src="mov_bbb.ogg" type="video/ogg" />
              Your browser does not support HTML video.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- why fitbox ended -->
  <!-- Reasons box -->
  <div class="bg-light-gray">
    <div class="container page-height">
      <div class="row">
        <div class="col-12 mt-15-vh">
          <div>
            <h1
              class="text-center ml-1 mt-3 f-48 mb-4 pb-1 font-weight-bold yellow"
            >
              4 Reasons To Join FITBOX
            </h1>
            <div class="text-center bounce-in-down mt-5">
              <img
                class="bounce-in-down"
                src="../assets/multiple-angle-down.svg"
                alt="multiple angle down"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Reasons box end-->
  <!-- Fit pay card -->
  <div class="bg-dark-gray">
    <div class="container page-height">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="fit-number text-stroke font-weight-bold">1</div>
          <h1 class="font-weight-bold light-yellow">
            <span class="text-stroke mr-2">Fit</span>
            <span class="text-light">Pay</span>
          </h1>
          <div>
            <img
              class="w-100 fit-pay-image mt-4"
              src="../assets/carousel1.jpeg"
              alt="fit pay image"
            />
            <div class="carousel-caption top-250 text-left fade-yellow">
              <div class="row">
                <div class="col-2">
                  <img src="../assets/dumbell.svg" alt="Dumbell" />
                </div>
                <div class="col-10">
                  <p class="font-weight-bold">
                    Why pay for the year when you can pay per workout.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <img src="../assets/dumbell.svg" alt="Dumbell" />
                </div>
                <div class="col-10">
                  <p class="font-weight-bold">Anytime Switch to Fit Pay</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <img src="../assets/dumbell.svg" alt="Dumbell" />
                </div>
                <div class="col-10">
                  <p class="font-weight-bold">
                    Flexibility to utilize the money across different fitbox
                    products and services.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center bounce-in-down mt-4">
            <img
              class="bounce-in-down"
              src="../assets/multiple-angle-down.svg"
              alt="multiple angle down"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark-gray">
    <div class="container page-height">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 page-height">
          <div class="fit-number text-stroke font-weight-bold">2</div>
          <h1 class="font-weight-bold light-yellow">
            <span class="text-stroke mr-2">Fit</span>
            <span class="text-light">Friends</span>
          </h1>
          <div>
            <img
              class="w-100 fit-pay-image mt-4"
              src="../assets/carousel1.jpeg"
              alt="fit pay image"
            />
          </div>
          <div class="text-center bounce-in-down mt-4">
            <img
              class="bounce-in-down"
              src="../assets/multiple-angle-down.svg"
              alt="multiple angle down"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark-gray">
    <div class="container page-height">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 page-height">
          <div class="fit-number text-stroke font-weight-bold">3</div>
          <h1 class="font-weight-bold light-yellow">
            <span class="text-stroke mr-2">Fit</span>
            <span class="text-light">Family</span>
          </h1>
          <div>
            <img
              class="w-100 fit-pay-image mt-4"
              src="../assets/carousel1.jpeg"
              alt="fit pay image"
            />
          </div>
          <div class="text-center bounce-in-down mt-4">
            <img
              class="bounce-in-down"
              src="../assets/multiple-angle-down.svg"
              alt="multiple angle down"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark-gray">
    <div class="container page-height">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 page-height">
          <div class="fit-number text-stroke font-weight-bold">4</div>
          <h1 class="font-weight-bold light-yellow">
            <span class="text-stroke mr-2">Fit</span>
            <span class="text-light">Freedom</span>
          </h1>
          <div>
            <img
              class="w-100 fit-pay-image mt-4"
              src="../assets/carousel1.jpeg"
              alt="fit pay image"
            />
          </div>
          <div class="text-center bounce-in-down mt-4">
            <img
              class="bounce-in-down"
              src="../assets/multiple-angle-down.svg"
              alt="multiple angle down"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fit pay card end -->
  <!-- fit box logo -->
  <div>
    <app-fit-box-logo></app-fit-box-logo>
  </div>
  <!-- fit box logo end -->
  <!-- pricing card -->
  <div>
    <app-pricing></app-pricing>
  </div>
  <!-- pricing card end-->
</div>
