<div>
  <!-- landing page -->
  <div id="carousel">
    <app-carousel (scrollPage)="scrollToPage($event)"></app-carousel>
  </div>
  <!-- landing page end -->

  <!-- Why Fitbox -->
  <div id="whyfitbox">
    <app-why-fit-box (scrollPage)="scrollToPage($event)"></app-why-fit-box>
  </div>
  <!-- why fitbox ended -->
  <!-- fit freedom  -->
  <div id="fitfreedom">
    <app-fit-freedom (scrollPage)="scrollToPage($event)"></app-fit-freedom>
  </div>
  <!-- fit freedom end -->
  <!-- fit flow -->
  <div id="fitfflow">
    <app-fit-flow (scrollPage)="scrollToPage($event)"></app-fit-flow>
  </div>
  <!-- fit flow end -->
  <!-- fit smile -->
  <div id="fitsmile">
    <app-fit-smile (scrollPage)="scrollToPage($event)"></app-fit-smile>
  </div>
  <!-- fit smile end -->
  <!-- fit touch -->
  <div id="fittouch">
    <app-fit-touch (scrollPage)="scrollToPage($event)"></app-fit-touch>
  </div>
  <!-- fit touch end -->
  <!-- fit box logo -->
  <div id="fitboxlogo">
    <app-fit-box-logo></app-fit-box-logo>
  </div>
  <!-- fit box logo end -->
  <!-- fit box solving problems -->
  <div id="fitboxsolvingproblems">
    <app-fit-box-solving-problems></app-fit-box-solving-problems>
  </div>
  <!-- fit box solving problems end -->
  <!-- fit covid ready -->
  <div id="fitboxcovidready">
    <app-fit-box-covid-ready
      (scrollPage)="scrollToPage($event)"
    ></app-fit-box-covid-ready>
  </div>
  <!-- fit covid ready end -->
  <!-- fit menu card -->
  <div id="fitmenu">
    <app-menu-one></app-menu-one>
    <app-menu-two></app-menu-two>
    <app-menu-three></app-menu-three>
    <app-menu-four></app-menu-four>
  </div>
  <!-- fit menu card end-->
</div>
