<div>
  <app-carousel></app-carousel>
  <!-- Why Fitbox -->
  <div class="container bg-light-gray carousel-height">
    <div class="row">
      <div class="col-12 mt-80">
        <h1 class="ml-1 f-48 mb-4 pb-1 font-weight-bold yellow">Why FitBox?</h1>
        <div class="ml-2 mb-2 pb-1 f-22 font-weight-bold text-light">
          Why FitBox Content text
        </div>
        <div class="ml-2 mb-4 pb-1 f-22 font-weight-bold text-light">
          Why FitBox Content text
        </div>
      </div>
      <div class="col-12 mt-4">
        <video class="w-100 px-1" controls>
          <source src="mov_bbb.mp4" type="video/mp4" />
          <source src="mov_bbb.ogg" type="video/ogg" />
          Your browser does not support HTML video.
        </video>
      </div>
    </div>
  </div>
</div>
