<div class="bg-light-gray">
  <div class="container page-height">
    <div class="row">
      <div class="col-12 mt-15-vh">
        <div>
          <h1
            class="text-center ml-1 mt-3 f-48 mb-4 pb-1 font-weight-bold yellow"
          >
            4 Reasons To Join FITBOX
          </h1>
          <div (click)="scrollToPage('whyfitbox')"  class="text-center bounce-in-down mt-5">
            <img
              class="bounce-in-down"
              src="../assets/multiple-angle-down.svg"
              alt="multiple angle down"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
