<div class="bg-dark-gray">
  <div class="container page-height">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 px-0 page-height">
        <div class="fit-number text-stroke font-weight-bold px-3 mt-2">2</div>
        <h1
          class="btm-border-1px d-inline-block font-weight-bold light-yellow mx-3"
        >
          <span class="text-stroke mr-2">Fit</span>
          <span class="text-light">Flow</span>
        </h1>
        <div>
          <img
            class="w-100 mt-4"
            src="../../assets/fitImage.png"
            alt="fit pay image"
          />
          <div class="text-left fade-yellow mt-3 px-3">
            <div class="row">
              <div class="col-2 text-right">
                <img src="../assets/dumbell.svg" alt="Dumbell" />
              </div>
              <div class="col-10">
                <p class="font-weight-bold">
                  Why pay for the year when you can
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2 text-right">
                <img src="../assets/dumbell.svg" alt="Dumbell" />
              </div>
              <div class="col-10">
                <p class="font-weight-bold">Anytime Switch to Fit Pay</p>
              </div>
            </div>
            <div class="row">
              <div class="col-2 text-right">
                <img src="../assets/dumbell.svg" alt="Dumbell" />
              </div>
              <div class="col-10">
                <p class="font-weight-bold">
                  Flexibility to utilize the money across
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2 text-right">
                <img src="../assets/dumbell.svg" alt="Dumbell" />
              </div>
              <div class="col-10">
                <p class="font-weight-bold">Anytime Switch to Fit Pay</p>
              </div>
            </div>
            <div class="text-center bounce-in-down mt-3">
              <img
                class="bounce-in-down"
                src="../assets/multiple-angle-down.svg"
                alt="multiple angle down"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
