<div class="bg-light-gray">
  <div class="container page-height">
    <div class="row">
      <div class="text-center col-12 mt-5">
        <h1
          class="btm-border-1px d-inline-block ml-1 f-36 mb-4 pb-1 font-weight-bold yellow"
        >
          We are CoVID Ready!
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-2 px-0 mt-3">
        <div class="w-100 text-center">
          <video controls>
            <source src="mov_bbb.mp4" type="video/mp4" />
            <source src="mov_bbb.ogg" type="video/ogg" />
            Your browser does not support HTML video.
          </video>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 px-5 mt-4">
        <div class="bottom-line"></div>
      </div>
    </div>
    <div
      (click)="scrollToPage('fitmenu')"
      class="text-center bounce-in-down mt-4"
    >
      <img
        class="bounce-in-down"
        src="../assets/multiple-angle-down.svg"
        alt="multiple angle down"
      />
    </div>
  </div>
</div>
