<div class="bg-dark-gray">
  <div class="container page-height">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mt-5 page-height">
        <h1 class="btm-border-1px d-inline-block font-weight-bold light-yellow">
          <span class="text-stroke mr-2">Fit</span>
          <span class="text-light">Menu</span>
        </h1>
        <div class="px-3 mb-5">
          <img
            class="w-100 price-boder price-1 mt-4"
            src="../../assets/carousel/BannerImage2.png"
            alt="fit pay image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
