<div>
  <!-- landing page -->
  <div id="carousel">
    <app-carousel (scrollPage)="scrollToPage($event)"></app-carousel>
  </div>
  <!-- landing page end -->

  <!-- Why Fitbox -->
  <div id="whyfitbox">
    <app-why-fit-box (scrollPage)="scrollToPage($event)"></app-why-fit-box>
  </div>
  <!-- why fitbox ended -->
  <!-- fit freedom  -->
  <div id="fitfreedom">
    <app-fit-freedom
      *ngIf="isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-freedom>
    <app-fit-freedom-desktop
      *ngIf="!isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-freedom-desktop>
  </div>
  <!-- fit freedom end -->
  <!-- fit flow -->
  <div id="fitfflow">
    <app-fit-flow
      *ngIf="isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-flow>
    <app-fit-flow-desktop
      *ngIf="!isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-flow-desktop>
  </div>
  <!-- fit flow end -->
  <!-- fit smile -->
  <div id="fitsmile">
    <app-fit-smile
      *ngIf="isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-smile>
    <app-fit-smile-desktop
      *ngIf="!isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-smile-desktop>
  </div>
  <!-- fit smile end -->
  <!-- fit touch -->
  <div id="fittouch">
    <app-fit-touch
      *ngIf="isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-touch>
    <app-fit-touch-desktop
      *ngIf="!isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-touch-desktop>
  </div>
  <!-- fit touch end -->
  <!-- fit box logo -->
  <div id="fitboxlogo">
    <div id="logo">
      <app-fit-box-logo (next)="swipeCard($event)"></app-fit-box-logo>
    </div>
    <!-- <div id="cardOne" class="first-card">
      <app-fit-freedom-desktop
        (next)="firstCardSwipe($event)"
      ></app-fit-freedom-desktop>
    </div> -->
  </div>
  <!-- fit box logo end -->
  <!-- removable content -->
  <div>
    <app-fit-freedom-desktop
      *ngIf="isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-freedom-desktop>
  </div>
  <div>
    <app-fit-flow-desktop
      *ngIf="isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-flow-desktop>
  </div>
  <div>
    <app-fit-smile-desktop
      *ngIf="isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-smile-desktop>
  </div>
  <div>
    <app-fit-touch-desktop
      *ngIf="isMobile"
      (scrollPage)="scrollToPage($event)"
    ></app-fit-touch-desktop>
  </div>
  <!-- removable content end -->
  <!-- fit box solving problems -->
  <div id="fitboxsolvingproblems">
    <app-fit-box-solving-problems></app-fit-box-solving-problems>
  </div>
  <!-- fit box solving problems end -->
  <!-- fit covid ready -->
  <div id="fitboxcovidready">
    <app-fit-box-covid-ready
      (scrollPage)="scrollToPage($event)"
    ></app-fit-box-covid-ready>
  </div>
  <!-- fit covid ready end -->
  <!-- fit menu card -->
  <div id="fitmenu">
    <app-fit-menu></app-fit-menu>
  </div>
  <!-- fit menu card end-->
  <!-- testimonials card -->
  <div>
    <app-testimonials></app-testimonials>
  </div>
  <!-- testimonials card end-->
  <!-- app-fit-box-play-store card -->
  <div>
    <app-fit-box-play-store></app-fit-box-play-store>
  </div>
  <!-- app-fit-box-play-store card end-->
  <!-- app-faq card -->
  <div>
    <app-faq></app-faq>
  </div>
  <!-- app-faq card end-->
  <!-- app-gallery card -->
  <div>
    <app-gallery></app-gallery>
  </div>
  <!-- app-gallery card end-->
  <!-- app-contact-info card -->
  <div>
    <app-contact-info></app-contact-info>
  </div>
  <!-- app-contact-info card end-->
</div>
