/* animate right to left */

.swipe-next-card {
  position: relative;
  -webkit-animation-name: swipeleft;
  -webkit-animation-duration: 1s;
  animation-name: swipeleft;
  animation-duration: 1s;
}

@-webkit-keyframes swipeleft {
  from {
    right: -150px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
@keyframes swipeleft {
  0% {
    right: 0vh;
  }
  100% {
    right: 200vh;
  }
}
