<div class="bg-page">
  <div class="container mb-4 page-height">
    <div class="row">
      <div class="col-12 whyfitbox">
        <h1
          [ngClass]="isAnimationActive ? 'bottom-to-top text-yellow' : ''"
          class="mt-md-5 mb-4 mt-4 d-inline-block font-weight-bold text-black"
        >
          <span>Why FitBox?</span>
          <div
            *ngIf="isLineActive"
            [ngClass]="isLineActive ? 'left-to-right' : ''"
            class="bottom-line"
          ></div>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3 px-0">
        <div class="w-100 text-center">
          <video controls>
            <source src="mov_bbb.mp4" type="video/mp4" />
            <source src="mov_bbb.ogg" type="video/ogg" />
            Your browser does not support HTML video.
          </video>
        </div>
      </div>
    </div>
    <div (click)="scrollToPage('fitfreedom')" class="text-center mt-5">
      <div>
        <i
          class="fa fa-angle-down text-yellow next-animate-down-1"
          aria-hidden="true"
        ></i>
      </div>
      <div>
        <i
          class="fa fa-angle-down text-yellow next-animate-down-2"
          aria-hidden="true"
        ></i>
      </div>
      <div>
        <i
          class="fa fa-angle-down text-yellow next-animate-down-3"
          aria-hidden="true"
        ></i>
      </div>
    </div>
  </div>
</div>
