/* You can add global styles to this file, and also import other style files */
body {
  background-color: #222222;
}
.bg-page {
  background-color: #000000;
}
.input-border {
  border: 1px solid #fbd530;
}
.bg-body {
  background-color: #222222;
}
.carousel-height {
  height: 100vh;
}
.page-height {
  height: 100vh;
}
.f-36 {
  font-size: 36px;
}
.f-12 {
  font-size: 12px;
}
.f-40 {
  font-size: 40px;
}
.f-22 {
  font-size: 22px;
}
.top-250 {
  top: 250px;
}
.lh-64 {
  line-height: 64px;
}
.fit-number {
  font-family: system-ui;
  font-size: 64px;
}
.bg-place-holder {
  background-color: #454545 !important;
}
.text-stroke {
  color: transparent;
  -webkit-text-stroke: 2px #e3c133;
}
.fit-pay-image {
  border-top: 20px solid #362b00;
  height: 368px;
}
.mt-80 {
  margin-top: 80px;
}

.btm-border-1px {
  border-bottom: 1px solid #bababa;
}
.mt-15-vh {
  margin-top: 20vh;
}
.text-yellow {
  color: #ffcf00;
}
.light-yellow {
  color: #e3c133;
}
html {
  scroll-behavior: smooth;
}
.fade-yellow {
  color: #fbd530;
}
.bottom-line {
  display: block;
  height: 1px;
  border-top: 0.5px solid #b2b2b2;
}
.carousel-icon {
  border-radius: 50%;
  width: 13px !important;
  height: 13px !important;
  background-color: #ffcf00 !important;
}
.price-1 {
  height: 617px;
}
.price-boder {
  border: 3px solid #fbd530;
}
.bottom-border {
  border-bottom: 3px solid #bababa;
}
/* This is for bounce down */

.bounce-in-down {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: bounce;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(30px);
  }
  60% {
    transform: translateY(18px);
  }
  90% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.bottom-to-top {
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
}

@-webkit-keyframes animatetop {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/* top to bottom */

.top-to-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.5s;
  animation-name: animatebottom;
  animation-duration: 0.5s;
}

@-webkit-keyframes animatebottom {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* line left to right */

.left-to-right {
  position: relative;
  -webkit-animation-name: animateright;
  -webkit-animation-duration: 0.5s;
  animation-name: animateright;
  animation-duration: 0.5s;
}

@-webkit-keyframes animateright {
  from {
    left: -150px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes animateright {
  from {
    left: -150px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

/* animate right to left */

.right-to-left {
  position: relative;
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 1s;
  animation-name: animateleft;
  animation-duration: 1s;
}

@-webkit-keyframes animateleft {
  from {
    right: -150px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
@keyframes animateleft {
  from {
    right: -150px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

/* animate bottom to top */

.bottom-to-top-max {
  position: relative;
  -webkit-animation-name: animatetopmax;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetopmax;
  animation-duration: 0.5s;
}

@-webkit-keyframes animatetopmax {
  from {
    bottom: -600px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatetopmax {
  from {
    bottom: -600px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/* fade in animation */

.fade-in {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* angle down animation */
.next-animate-down-1 {
  position: relative;
  animation: nextMoveDownOne 1s ease-in-out infinite;
}

@-webkit-keyframes nextMoveDownOne {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  70%,
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes nextMoveDownOne {
  0% {
    transform: translateY(-18px);
    opacity: 0;
  }
  70%,
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.next-animate-down-2 {
  position: relative;
  animation: nextMoveDownTwo 1s ease-in-out infinite 0.1s;
}

@-webkit-keyframes nextMoveDownTwo {
  0% {
    transform: translateY(-13px);
    opacity: 0;
  }
  70%,
  100% {
    transform: translateY(-5px);
    opacity: 1;
  }
}
@keyframes nextMoveDownTwo {
  0% {
    transform: translateY(-13px);
    opacity: 0;
  }
  70%,
  100% {
    transform: translateY(-5px);
    opacity: 1;
  }
}

.next-animate-down-3 {
  position: relative;
  animation: nextMoveDownThree 1s ease-in-out infinite 0.2s;
}

@-webkit-keyframes nextMoveDownThree {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  70%,
  100% {
    transform: translateY(-8px);
    opacity: 1;
  }
}
@keyframes nextMoveDownThree {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  70%,
  100% {
    transform: translateY(-8px);
    opacity: 1;
  }
}
/* angle down animation end*/

/* bounce down */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-height {
    height: calc(100vh - 52.5px);
  }
}

@media only screen and (min-width: 30px) and (max-width: 767px) {
  .carousel-height {
    height: calc(100vh - 52.5px);
  }
}
