/* You can add global styles to this file, and also import other style files */
.carousel-height {
  height: 100vh;
}
.page-height {
  height: 100vh;
}
.f-36 {
  font-size: 36px;
}
.f-40 {
  font-size: 40px;
}
.f-22 {
  font-size: 22px;
}
.top-250 {
  top: 250px;
}
.fit-number {
  font-family: system-ui;
  font-size: 64px;
}
.text-stroke {
  color: transparent;
  -webkit-text-stroke: 3px #e3c133;
}
.fit-pay-image {
  border-top: 20px solid #362b00;
  height: 368px;
}
.mt-80 {
  margin-top: 80px;
}

.btm-border-1px {
  border-bottom: 1px solid white;
}
.mt-15-vh {
  margin-top: 20vh;
}
.bg-light-gray {
  background-color: #171819;
}
.bg-dark-gray {
  background-color: #292929;
}
.yellow {
  color: #ffcf00;
}
.light-yellow {
  color: #e3c133;
}
html {
  scroll-behavior: smooth;
}
.fade-yellow {
  color: #fbd530;
}
.bottom-line {
  display: block;
  height: 1px;
  border-top: 2px solid white;
}
.carousel-icon {
  border-radius: 50%;
  width: 13px !important;
  height: 13px !important;
  background-color: #ffcf00 !important;
}

.price-1 {
  height: 617px;
}
.price-boder {
  border: 3px solid #fbd530;
}
.bottom-border {
  border-bottom: 3px solid #bababa;
}
/* This is for bounce down */

.bounce-in-down {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: bounce;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(30px);
  }
  60% {
    transform: translateY(18px);
  }
  90% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* bounce down */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-height {
    height: calc(100vh - 52.5px);
  }
}

@media only screen and (min-width: 30px) and (max-width: 767px) {
  .carousel-height {
    height: calc(100vh - 52.5px);
  }
}
